<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head :: head('Registro')}">
    <title></title>
</head>
<body class="bg-gradient-primary">
    <div class="container py-3">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center pb-3">
                                        <h1 class="h4 text-gray-900 mb-4">Ticketo</h1>
                                        <small class="text-danger" th:if="${error}">Hubo un error al procesar los datos.</small>
                                    </div>
                                    <form class="user needs-validation" th:action="@{/auth/register}" th:object="${customer}" method="post" novalidate>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" th:field="*{name}" class="form-control form-control-user" id="name" required
                                                       placeholder="Nombre/s">
                                                <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" th:field="*{surname}" class="form-control form-control-user" id="surname" required
                                                       placeholder="Apellido/s">
                                                <small class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" th:field="*{email}" class="form-control form-control-user" id="email" required
                                                   placeholder="Email">
                                            <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" th:field="*{phoneNumber}" class="form-control form-control-user" id="phoneNumber" required
                                                   placeholder="Teléfono">
                                            <small class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></small>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="password" class="form-control form-control-user"
                                                       th:field="*{password}" id="password" placeholder="Contraseña" required>
                                                <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control form-control-user"
                                                       th:field="*{confirmPassword}" id="confirmPassword" placeholder="Repetir contraseña" required>
                                                <small class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Crear Cuenta
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">¿Olvidaste tu contraseña?</a>
                                    </div>
                                    <div class="text-center">
                                        <small class="small">¿Ya sos cliente? <a th:href="@{/auth/login}">Iniciar sesión</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
